<!doctype html>
<html>
    <head>
        <title>[Please use this file embedded]</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Slabo+27px">
        <link rel="shortcut icon" type="image/x-icon" href="teamspeak.ico">
        <style type="text/css">
            * { font-family: 'Slabo 27px', sans-serif; }
            body, html { background: transparent; margin: 0; padding: 0; overflow: hidden; }
            body { padding: 10px; font-size: 16px; line-height: 18px; color: #2C3E50; }

            a { color: inherit; }

            .server, .channel, .user, .seperator {
                text-decoration: none;
                padding: 5px;
                padding-left: 28px;
                display: block;
                position: relative;
            }
            .server:hover, .channel:hover, .user:hover { background: rgba(0,0,0,0.025); }

            .indent { margin-left: 18px; }

            .server, .channel { font-weight: bold; }
            .server:before {
                background: url(teamspeak.ico) no-repeat center / contain;
                position: absolute; top: 6px; left: 5px; width: 16px; height: 16px;
                content: "";
            }

            .channel:before {
                background: url(channel.svg) no-repeat center / contain;
                position: absolute; top: 6px; left: 5px; width: 16px; height: 16px;
                content: "";
                opacity: 0.8;
            }
            .channel { margin-top: 5px; }
            .seperator + .channel { margin-top: 0; }

            .seperator {
                background: rgba(0,0,0,0.1) !important; pointer-events: none;
                height: 1px; padding: 0; margin: 5px 0;
            }

            .user { margin-left: 28px; }
            .user:before {
                background: #BDC3C7; border-radius: 9px;
                position: absolute; top: 6px; left: 5px; width: 16px; height: 16px;
                content: "";
            }
            .user.talking:before {
                background: #2ECC71;
            }
            .user.muted:before {
                border-radius: 0;
                background: url(muted.svg) no-repeat center / contain;
                top: 5px; left: 4px; width: 18px; height: 18px;
            }

            footer {
                margin-top: 15px;
                text-align: left; font-size: 0.9em; color: #95A5A6;
            }
            footer a:hover { text-decoration: underline !important; color: #1ABC9C; }
        </style>
        <script type="text/javascript" src="fetch.js"></script><!-- https://github.com/github/fetch -->
        <script type="text/javascript">
            var hash = "";
            function update() {
                fetch("./api/html?hash=" + hash, {
                	method: "get"
                }).then(function(response) {
                    return response.text();
                }).then(function(text) {
                    document.getElementById("server").style.display = "block";
                    document.getElementById("error").style.display = "none";
                    document.getElementById("server").innerHTML = text;
                    window.top.postMessage("resize", "*");
                    setTimeout(update, 200);
                }).catch(function(err) {
                    document.getElementById("server").style.display = "none";
                    document.getElementById("error").style.display = "block";
                    setTimeout(update, 5000);
                });
            }
            window.onload = function() { update(); };
            window.onresize = function() { window.top.postMessage("resize", "*"); };
            //window.top.postMessage();
        </script>
    </head>
    <body>
        <strong style="color: #E74C3C; display: none;" id="error">An unknown error occured while fetching server information. Trying again in a few seconds...</strong>
        <div id="server"><div style="text-align: center; margin: 50px 0 45px;"><img src="loading.svg"></div></div>
        <footer>
            <div style="float: right; margin-left: 10px;"><a href="https://github.com/moqmar/ts3-status" style="color: #1ABC9C; text-decoration: none;">ts3-status</a></div>
            <a href="https://www.iconfinder.com/icons/126571/friends_group_people_users_icon">Channel Icon</a> &bull;
            <a href="http://www.iconarchive.com/show/simply-styled-icons-by-dakirby309/TeamSpeak-icon.html">Server Icon</a> &bull;
            <a href="https://www.iconfinder.com/iconsets/small-n-flat">Mute Icon</a>
        </footer>
    </body>
</html>
